In [ ]:
import pandas as pd

# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures = pd.DataFrame(data)

# Add a year column to temperatures
temperatures['year']=temperatures['date'].dt.year

# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(values="avg_temp_c",index=["country","city"],columns="year")

# See the result
print(temp_by_country_city_vs_year)

In [ ]:
import pandas as pd
   
# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures = pd.DataFrame(data)


temp_by_country_city_vs_year = temperatures.pivot_table(values="avg_temp_c",index=["country","city"],columns="year")


# Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt":"India"]

# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi")]

# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi"),"2005":"2010"]

In [ ]:
import pandas as pd

# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures = pd.DataFrame(data)


# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()

# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")

# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])